extends ../../layouts/default
include ../../blocks/subnav
include ../../blocks/footer_eyc

block css
	link(rel='stylesheet' href='/styles/default.css')
	link(rel='stylesheet' href='/styles/eyc_historias.css')

block content
	+subnav
	.section(class='s3')
		.col-2(class='final')
			.img
		.col-2
			.text
				h4 CONOCE
				h3 ELECCIONES
				h3.slim Y CONTRATOS
				.paragraph
					p Esta es una solución tecnológica que permite conocer datos acerca de los candidatos a cargos de elección popular, los partidos políticos y sus financiadores. Aporta al control social y facilita la realización de cruces de información entre datos oficiales de Cuentas Claras y SECOP.
				div(style="margin-top: 16px")
					//- a.btn(href="#") Conoce más
					a.btn(href="http://transparenciacolombia.org.co/Documentos/2019/EleccionesYContratos/EleccionesYContratos-2019.pdf" target="_blank") Descarga el informe
		.col-2(class='initial')
			.img
	.section(class='s1')
		.col-1
			.text
				h4 HISTORIAS
					strong DESTACADAS
	.section(class='divider' id='divider_informes')
	.section(class='s2')
		.cards
			each story in data.stories
				.card
					if story.image
						.img(style=`background-image: url(${story.image.secure_url})`)
					.text
						h4.story-date #{new Date(story.publishedDate).getFullYear()}
						h5.story-title #{story.title}
						.paragraph !{story.content.brief}
						a.btn(href=`/elecciones-contratos/historias/${story.slug}`) Leer más

block js
	script(src="/js/eyc_historias.js")
