extends ../../layouts/default
include ../../blocks/subnav
include ../../blocks/footer_eyc

block css
	link(rel='stylesheet', href='/styles/default.css')
	link(rel='stylesheet', href='/styles/eyc_descargas.css')

block content
	+subnav
	.section(class='s1')
		.col-2(class='img')
		.col-2
			.text
				h3.s DESCARGA
				h3.slim DE DATOS
				.paragraph
					p Los datos recopilados se encuentran a disposición de la ciudadanía para que de estos puedan surgir análisis diversos que mejoren la comprensión del problema de corrupción en Colombia.
		.col-1(class='img')
			.text
				h3.s DESCARGA DE DATOS
				.paragraph
					p Los datos recopilados se encuentran a disposición de la ciudadanía, para que de estos puedan surgir análisis diversos que mejoren la comprensión del problema de corrupción en Colombia.
	.section(class='divider', id='divider_descargas')
	.section(class='s2')
		.cards
			each doc in documents
				.card
					.text
						h4 #{doc.title}
						h5 Descripción
						.paragraph
							p #{doc.description}
						h5 Realizador
						.paragraph
							p #{doc.author}
						h5 Fecha de creación
						.paragraph
							- var created = doc._.createdAt.moment().locale('es').format('MMMM [de] YYYY');
							p #{created.charAt(0).toUpperCase() + created.slice(1)}
						h5 Fecha de actualización
						.paragraph
							- var updated = doc._.updatedAt.moment().locale('es').format('MMMM [de] YYYY');
							p #{updated.charAt(0).toUpperCase() + updated.slice(1)}
					.buttons
						//- a.btn(href='/docs/', target='_blank') Más detalles
						a.btn(class='dark', href=(doc.link), target='_blank') Descargar
	.section.banner
		.col-2(class='s')
			.img
		.col-2(class='m')
			.text
				h4 CONOCE NUESTRA
				h3 METODOLOGÍA
				.paragraph
					p #{methodology.description}
			.buttons
				if methodology.methodology
					a.btn(href=methodology.methodology) DESCARGAR METODOLOGÍA
				if methodology.glossary
					a.btn(href=methodology.glossary) DESCARGAR GLOSARIO
	+footer_eyc

block js
	script(src="/js/eyc_descargas.js")
